{erl_opts, [debug_info]}.

{lfe_first_files, ["src/clj-p.lfe"]}.

{eunit_compile_opts, [
    {src_dirs, ["test", "src"]}
  ]}.

{deps, [lfe, kla]}.

{plugins, [rebar3_lfe_compile]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.

{profiles, [
   {test, [
      {deps, [
         {ltest, {git, "https://github.com/yurrriq/ltest.git", {branch, "develop"}}}
        ]}
     ]}
  ]}.
